*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

body {
    background: #f1f1f1;
    height: 100vh;
}

img {
    width: 600px;
    /* filter: blur(3px); */
    /* filter: grayscale(100%); */
    /* filter: contrast(250%); */
    /* filter: invert(100%); */
    /* filter: opacity(10%); */
    /* filter: saturate(200%); */
    /* filter: sepia(50%); */
    /* filter: hue-rotate(50deg); */
    /* filter: drop-shadow(0px 20px 30px #000); */
    filter: blur(3px) sepia(80%);
}

h1 {
    /* filter: blur(3px); */
    filter: drop-shadow(0px 20px 30px #000);
    /* box-shadow: 0px 20px 30px #000; */
    font-size: 150px;
}